@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: seagreen; */
    /*이미지경로는 주의*/
    background-image: url('../images/back2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 420px;
    /* background-color: purple; */
    background-color: transparent;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    position: relative;/*input-box 내에 있는 객체들은 위치를 상대값으로 사용*/
    width: 100%; height: 50px;
    /*background-color: salmon;*/
    margin: 30px 0;
}
.input-box input{
    width: 100%; height: 100%;
    background-color: transparent;
    border: none; outline: none;
    border:3px solid rgba(255,255,255,0.2);
    border-radius: 40px;
    color: white;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: white;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: white;
    margin-right: 3px;
}
.remember-forgot a{
    color: white;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%; height: 45px;
    background-color: white;
    border: none; outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}
.wrapper .register-link{
    font-size:  14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}